.recommended-friends {
  padding: 20px 0px;
  color: var(--main-color);
  border-bottom: var(--main-border);
  font-size: 15px;
}

.recommended-friends span {
  display: block;
  margin: 110px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--main-color);
}

.screen-header__icons {
  display: flex;
}

.setting_dot {
  background-color: #ff622a;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  bottom: 6px;
}
